---
layout: default
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}" title="{{ post.title }}">{{ post.title }}</a></h2>
        <p class="excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}&hellip;</p>
        <div class="post-list__meta"><time datetime="{{ post.date | date: "%-d %b %Y" }}" class="post-list__meta--date date">{{ post.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in post.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span></div>
        <hr class="post-list__divider">
      </li>
    {% endfor %}
  </ol>

  <hr class="post-list__divider ">

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>


<div class="projects-page">
    {% for project in site.projects %}
        <h1 class="project-header">{{ project.title }}<small>- {{ project.status }}</h1>
        <div id="{{ project.SC }}OverallPB" class="project-overallPB"></div>
        <ul class=gameinfo>
            <li>Genre: <small>{{ project.genre }}</small></li>
            <li>Platform: <small>{{ project.platform }}</small></li>
            <li>Release Date: <small>{{ project.release }}</small></li>
        </ul>
        <div>
            <p>{{ project.content }}</p>
        </div>
        <div id="{{ project.SC }}Team">
            {% for person in project.people %}
                <div class='team-member'>
                    <div class='team-member-icon' id="{{ project.SC }}{{ person.name }}PB"></div>
                    <div class='team-member-text'>
                        <h3>{{ person.name }}</h3>
                        <h4 class='team-member-role'>{{person.role}}</h4>
                        <div>{{person.status}}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <script>
            var OverallPB = new ProgressBar.Line('#{{ project.SC }}OverallPB', {
                color: "{{ project.color }}"
            });
            OverallPB.animate({{ project.finished }}/{{ project.tasks }})


            {% for person in project.people %}
                $("#{{ project.SC }}{{ person.name }}PB").css("background", "url({{ person.icon }}) no-repeat")
                $("#{{ project.SC }}{{ person.name }}PB").css("background-size", "contain")

                var tempcircle = new ProgressBar.Circle("#{{ project.SC }}{{ person.name }}PB", {
                    color: "{{ project.color }}",
                    strokeWidth:4,
                })
                tempcircle.animate({{ person.finished }}/{{ person.tasks }})
            {% endfor %}
        </script>
        <hr class="project-divider ">
    {% endfor %}
</div>
